<!DOCTYPE HTML>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <title><%= @item[:title] %> | Secretchronicles Blog</title>
    <link rel="stylesheet" href="/stylesheets/coderay.css"/>
    <link rel="stylesheet" href="/stylesheets/main.css"/>
    <link rel="alternate" type="application/atom+xml" title="Feed" href="/en/feed.atom"/>
    <meta name="generator" content="nanoc <%= Nanoc::VERSION %>">
  </head>
  <body>
    <%= render "_head_de" %>

    <div id="main">
      <h1><%= @item[:title] %></h1>

      <p class="post-info">
	Verfasst von <%= @item[:author] %> am <%= @item[:date].strftime("%d.%m.%Y") %>.

        <% if @item[:translator] && !@item[:translator].empty? %>
	  <br/>
	  Übersetzt von <%= @item[:translator] %>.
	<% end %>
      </p>

      <%= yield %>
    </div>

    <%= render "_foot" %>
  </body>
</html>
