<!DOCTYPE HTML>
<html lang="fi">
  <head>
    <meta charset="utf-8" />
    <title><%= @item[:title] %> | Secretchronicles Blogi</title>
    <link rel="stylesheet" href="/stylesheets/default.css" />
    <link rel="alternate" type="application/atom+xml" title="Feed" href="/fi/feed.atom" />
    <meta name="generator" content="nanoc <%= Nanoc::VERSION %>" />
  </head>
  <body>
  <div id="fullpage">
   <div id="page">

    <%= render "_head_fi" %>

    <div id="main">
      <h1><%= @item[:title] %></h1>

      <p class="summary">
	<i>Kirjoittanut <b><%= @item[:author] %></b> <b><%= @item[:date].strftime("%Y-%m-%d") %></b></i>.

        <% if @item[:translator] && !@item[:translator].empty? %>
	  <br />
	  <i>Suomentanut <b><%= @item[:translator] %></b></i>.
	<% end %>

	<br />

	<% if @item[:summary] && !@item[:summary].empty? %>
	  <br />
	  <i><b><%= @item[:summary] %></b></i>
	<% end %>
      </p>

      <%= yield %>
    </div>

   </div>

    <%= render "_foot" %>
  </div>
  </body>
</html>
